.results {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50vw;
    padding: 100px;
}

.results h1 {
    font-size: 24px;
    padding: 10px;
}

.results p {
    padding: 10px;
}

.slider {
    display: flex;
    flex-direction: row;
}

li.slide {
    opacity: 0.1;
    min-width: 40%;
}
.carousel, .carousel-slider{
    width: 600px;
}


li.selected {
    opacity: 1
}

.control-arrow {
    color: black;
    background-color: white;
    font-size: '100px';
}

.control-arrow:before {
    margin: 0 5px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    content: '';
}

.testimony {
    background-color: white;
    margin-top: 40px;
}

.testimony .testimony-left, .testimony .testimony-right{
    padding: 20px;   
} 