.welcome {
    width: 100%;
}
.start-button {
    background: transparent;
    color: white;
    font-size: 1.5em;
    margin-top: 40px;
}
button.start-button {
    border: solid  white 2px;
    padding: 5px 20px;
}

#landing {
    width: 100vw;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
