.pick-background {
	display: flex;
    flex-direction: column;
    margin-top: 17%;
    align-items: center;
    align-content: center;
}

.pick-background h2{
	color: white;
	font: 'Roboto' 30px;
	font-weight: 100;
	margin-bottom: 20px;
}

.Select-control {
    width: 240px;
    border-radius: none;
}

.Select-arrow-zone {
	background-color:#3FE0CD;
}

.Select-menu-outer {
	width: 240px;
}

.Select-arrow {
	border-color:white transparent transparent;
}

body {
	margin: 0;
}